# ==============================================================================
# GIT ATTRIBUTES
# ==============================================================================
# Use 'linguist-generated=true' to hide generated code from GitHub PR diffs.
# ==============================================================================

# Hide Kubernetes generated helpers (DeepCopy, Defaults, Conversions, OpenAPI, etc)
zz_generated.*.go linguist-generated=true

# Hide generated Protobuf Go bindings
*.pb.go linguist-generated=true

# Hide generated client library
pkg/client-go/** linguist-generated=true

# Hide generated gRPC services
pkg/services/** linguist-generated=true

# Hide copied, unmodified upstream code
code-generator/cmd/client-gen/types/** linguist-generated=true
code-generator/cmd/client-gen/generators/scheme/** linguist-generated=true
code-generator/cmd/client-gen/generators/util/** linguist-generated=true
